<html>
  <head>
    	<meta name="viewport" content="width=device-width initial-scale=1">
    <title>Not found</title>
    <style>
    body{
      
    }
      h1{
        color: rgba(0,0,0,1);
      }
      span{
        font-size: 50px;
      }
      p{
        font-size: 25px;
      }
    </style>
  </head>
  <body>
    <div id="oops">
      <h1>404</h1><span>Not Found</span>
    </div>
    <p>The page you are looking for has no existance.</p>
  </body>
</html>