<html>
  <head>
    	<meta name="viewport" content="width=device-width initial-scale=1">
    <title>Not found</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8MFPMB3NM2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8MFPMB3NM2');
</script>
    <style>
    body{
      display: flex;
      justify-content: center;
      align-items: center ;
      flex-direction: column;
    }
      h1{
        color: black;
        font-size: 100px;
      }
      span{
        font-size: 50px;
      }
      p{
        font-size: 25px;
      }
    </style>
  </head>
  <body>
    <div id="oops">
      <h1>404 😥</h1><span>Not Found</span>
    </div>
    <p>The page you are looking for has no existance.</p>
  </body>
</html>