<html>
  <head>
    	<meta name="viewport" content="width=device-width initial-scale=1">
    <title>Not found</title>
    <style>
    body{
      display: flex;
      justify-content: center;
      align-items: center ;
      flex-direction: column;
    }
      h1{
        color: black;
        font-size: 100px;
      }
      span{
        font-size: 50px;
      }
      p{
        font-size: 25px;
      }
    </style>
  </head>
  <body>
    <div id="oops">
      <h1>404 😥</h1><span>Not Found</span>
    </div>
    <p>The page you are looking for has no existance.</p>
  </body>
</html>