<div id="all_container">
	<div id="header_container">
		<div id="header">
			<div>
				<div id="logo"><svg id="menu1" fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"><path d="M 2 5 L 2 7 L 22 7 L 22 5 L 2 5 z M 2 11 L 2 13 L 22 13 L 22 11 L 2 11 z M 2 17 L 2 19 L 22 19 L 22 17 L 2 17 z"/></svg></div>
				<div id="logo_name"><img src="img/logo.png"></div>
			</div>
			<div id="nav">
				<ul>
					<li><a href="/" class="active_nav">Home</a></li>
					<li><a href="/Programming">Programming</a></li>
					<li><a href="/Tools">Tools</a></li>
					<li><a href="/About">About me</a></li>
				</ul>
			</div>
			<div id="login">
				<button>Login</button>
			</div>
		</div>
	</div>
	<div id="header_container2">
		<div id="header2">
			<div>
				<div id="logo"><svg id="menu" fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"><path d="M 2 5 L 2 7 L 22 7 L 22 5 L 2 5 z M 2 11 L 2 13 L 22 13 L 22 11 L 2 11 z M 2 17 L 2 19 L 22 19 L 22 17 L 2 17 z"/></svg><svg id="cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"/></svg></div>
				<div id="logo_name"><img src="img/logo.png"></div>
			</div>
			<div id="nav">
				<ul>
					<li><a href="/" class="active_nav">Home</a></li>
					<li><a href="/Programming">Programming</a></li>
					<li><a href="/Tools">Tools</a></li>
					<li><a href="/About">About me</a></li>
				</ul>
			</div>
			<!-- <div id="login">
				<button>Login</button>
			</div> -->
		</div>
	</div>
	</div>