<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Login</title>
  </head>
  <body>
    <div>
      <p>Sorry 😿</p><p> You are not a cat.</p>
      <p>[ Note: Only cats are allowed to Login ]
      <img src="">
      <div><button>Go Back</button>
      <button>I am a Cat</button> </div>
      </div>
  </body>
</html>