<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width initial-scale=1">
    <title>Login</title>
    		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
	$(window).on('load',function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");
	}); </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8MFPMB3NM2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8MFPMB3NM2');
</script>
<style type="text/css" media="all">
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: ;
  }
  #con{
    width: 90%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 35px ;
    background: ;
  }
  #cat{
    width: 100px;
    height: 100px;
    text-align: center;
  }
  #sorry{
    font-size: 25px;
    margin: 5px;
  }
  #notCat{
    font-size: 20px;
    color: green;
  }
  #notAllowed{
    font-size: ;
    margin-bottom: 10px;
    text-align: center;
  }
  #btns{
    margin: 30px;
  }
  #btns button{
    padding: 10px 15px;
    font-weight: bold;
    margin: 5px 20px;
  }
  #reply{
    color: red;
    font-size: 20px;
  }
  .anime{
    animation: animate 1s;
  }
  @keyframes animate{
    0%{
      transform: translateX(-16px);
    }
      40%{
      transform: translateX(16px);
    }
      80%{
      transform: translateX(-8px);
    }
  }
  #afterCat{
    text-align: center;
    display: none;
  }
</style>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8MFPMB3NM2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8MFPMB3NM2');
</script>
  </head>
  <body>
    <div id="con">
      <p id="sorry">Sorry 😿</p><p id="notCat"> You are not a cat.</p>
      <p id="notAllowed"> [ Note: Only cats are allowed to Login ]</p>
      <img id="cat" src="img/cat.jpg">
      <div id="btns"><a href="/"><button>Go Back</button></a>
      <button id="catBtn">I am a Cat</button> </div>
      <p id="afterCat">After becoming a cat leave a message.</p>
      <p id="reply"></p>
    </div>
  
      <script type="text/javascript">
      
        let reply = [
            "Are you sure?",
            "Really?", "Seriously?",
            "don't lie",
            "I know you're lying",
            "haha i can tell you are not a cat",
            "you can't fool me",
            "Tough aren't ya",
            "It's useless",
            "only cats are allowed",
            "stubborn, aren't ya",
            "It's no use",
            "go back...",
            ". .",
            ". . . .",
            ". . . stop",
            ". . .",
            "you listening?",
            ". . .",
            ". . . .",
            ". . . i",
            ". . s-stop",
            ". . .",
            ". .",
            ". . .",
            "ARE YOU DUMP?!",
            "YOU ARE NOT A CAT IDIOT",
            "ONLY CATS ARE ALLOWED",
            "YOU ARE NOT ALLOWED HERE",
            "STOOOPP YOU IDIOT",
            "NOO YOU ARE NOT A CAT",
            "GOOO BACK, U NOT A CAT",
            "T_T",
            "STOP!!!, you idiot T_T",
            "T_T",
            "...",
            ". . .",
            ". . . . . . .",
            ". . .",
            ". .",
            ". . .",
            "let's put a stop here...",
            ". . .",
            ". .",
            ".",
            "listen to me.. u not a cat",
            ". . . . .",
            ". . .",
            ". .",
            "aren't you tried?",
            "r-really",
            "..i-I..",
            "y-you.. not.. a.. cat",
            "😾 Ok ok I will give you a chance, be grateful, ok?",
            "<a href='https://www.demilked.com/funny-illustration-guide-how-to-be-cat-lisa-swerling-ralph-lazar/' >How to be a cat properly</a>"
        ], i = 0;
        
        $('#catBtn').on('click', (e) => {
            $('#cat').addClass('anime');
            setTimeout(() => $('#cat').removeClass('anime'), 1000);
            $('#reply').html(reply[i] || `you need to train for a year<br>${reply[reply.length - 1]}<br>After becoming full-fledged cat, come back here and try again`);
            i++;
        });
        
        /* $('#catBtn').click(()=>{
          $('#cat').addClass('anime');
          setTimeout(()=>{
          $('#cat').removeClass('anime');
          },1000)
          if(a==3){
          $('#reply').append("Read this : <a href='https://www.demilked.com/funny-illustration-guide-how-to-be-cat-lisa-swerling-ralph-lazar/' >How to be a cat</a>");
          }if(a==4){
            $('#afterCat').css({
              'display':'block'
            });
           $('#reply').text('');
          $('#reply').text('You are going back...');
           setTimeout(()=>{
          location.href = 'https://mysterpmf.me';
            },500)
          }else{
          $('#reply').text(reply[a]);
          }
          a=a+1;
        });*/
      </script>
  </body>
</html>
