<!DOCTYPE html>
<html>
<head>
	<title>Programming, python tricks</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script>
	$(window).on('load',function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");
	}); </script>
	<style>
	
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('img/Storm.gif') center no-repeat #fff;
}
</style>
	<meta name="viewport" content="width=device-width initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/programming.css">
	<link rel="stylesheet" type="text/css" href="css/header.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8MFPMB3NM2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8MFPMB3NM2');
</script>
</head>
<body>
  <div class="se-pre-con"></div>
<%- include('header.ejs') %>
	<div id="welcome_text">
		<img src="img/quote.png">
		<div class="q">Talk is cheap. Show me the code.</div>
		<div class="q">-someone</div>
	</div>

	<!-- style -->

	<div id="main_div">
		<div class="box">
			</div>
			<div class="box box2">
			</div>
	</div>

	<!-- main section -->

	<div id="all_container">
		<div id="title_con">
		<h1>Python Tricks</h1>
		<div id="info">Python is my most favourite programming language. It's actually amazing . Here I am  sharing some awesome python tricks/programs. You can also share youre awesome programs here.</div>
		</div>

		<div id="box_container">


			<div id="box">
				<a href="/Programming/blog1">
				<img src="img/textToImage.png">
				<div id="description">
					<h1>Extract text from image</h1>
					<div><img src="img/py.png"><div>Python project</div></div>
					<p>It's a simple program to fetch text from a simple image using tesseract.</p>
				</div></a>
			</div>

						<div id="box">
							<a href="/Programming/blog2">
				<img src="img/textToAudio.png">
				<div id="description">
					<h1>Convert text to Audio using python</h1>
					<div><img src="img/py.png"><div>Python project</div></div>
					<p>Only a few lines of code, text to speak program to covert any text imto mp3 audio. </p>
				</div></a>
			</div>

						<div id="box">
							<a href="/Programming">
				<img src="img/comingSoon.png">
				<div id="description">
					<h1>Delete all empty folders using python program</h1>
					<div><img src="img/py.png"><div>Python project</div></div>
					<p>This will delete all your unnecessery empty directories/folders.</p>
				</div></a>
			</div>

						<div id="box">
							<a href="/Programming">
				<img src="img/freesms.png">
				<div id="description">
					<h1>Send free sms using Twilio API</h1>
					<div><img src="img/py.png"><div>Python project</div></div>
					<p>This python program will send free sms to your desired number for free using twilio API.</p>
				</div></a>
			</div>

						<div id="box">
							<a href="/Programming">
				<img src="img/comingSoon.png">
				<div id="description">
					<h1>Python program to test your internet speed</h1>
					<div><img src="img/py.png"><div>Python project</div></div>
					<p>You can test your internet speed without any software or third party website using this simple program.</p>
				</div></a>
			</div>

						<div id="box">
							<a href="/Programming">
				<img src="img/comingSoon.png">
				<div id="description">
					<h1>Convert text to Binary.</h1>
					<div><img src="img/py.png"><div>Python project</div></div>
					<p>Simple python program that converts any string to binary numbers.</p>
				</div></a>
			</div>

						<div id="box">
							<a href="/Programming">
				<img src="img/comingSoon.png">
				<div id="description">
					<h1></h1>
					<div><img src="img/py.png"><div>Python project</div></div>
					<p></p>
				</div></a>
			</div>

						<div id="box">
							<a href="/Programming">
				<img src="img/comingSoon.png">
				<div id="description">
					<h1></h1>
					<div><img src="img/py.png"><div>Python project</div></div>
					<p></p>
				</div>
			</div></a>
		</div>

		<div id="coming_soon">
			<hr>
			<p>More Tricks are coming soon</p>
			<hr>
		</div>

		<div>
			
		</div>

	</div>
<script type="text/javascript" src="Js/navbar.js"></script>
</body>
</html>