<!DOCTYPE html>
<html>
  <head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script>
	$(window).on('load',function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");
	}); </script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width initial-scale=1">
    <title>Qr code generator</title>
    <style>
      body{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      .no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('img/preLoader.gif') center no-repeat #fff;
}
      html, body {
        width: auto !important;
        overflow-x: hidden !important
}
      #con{
        margin: 0 10%;
      }
      .top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .top h1{
        text-align: center;
      }
      .catagory{
        display: flex;
        justify-content: space-between;
        margin: 10px 30px;
        font-size: 1.5rem;
      }
      .active{
        border-bottom: 2px solid blue;
      }
      #in_con{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      .top > img{
        height: 150px;
        width: 150px;
      }
      #text{
        height: 100px;
        width: 90%;
        padding: 20px;
        font-size: 18px;
      }
      #generate{
        border: none;
        width: 200px;
        height: 40px;
        font-size: 1.4rem;
        margin: 25px;
        border-radius: 15px;
        color: white;
        background: #1f6c8b;
      }
      #output{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
     #preLoader{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      #preLoader img{
        margin: 100px;
      }
      #qr{
        width: 200px;
        height: 200px;
      }
      #download{
        margin: 10px;
        margin-right: 0;
        padding: 5px;
        float: right;
      }
      #string{
        margin-right: 160%;
        margin-left: -80%;
      }
      #colourPicker{
        display: inline-block;
      }
      #option{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        transition: 1s;
        overflow: hidden;
      }
      #advance{
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      #advance > div, #option > div{
       margin: 6px 0;
      }
      
.status {
  margin: 5px;
  color: green;
}


    </style>
  </head>
  <body onload="min()">
    <div class="se-pre-con"></div>
    <div id="con">
      <div class="box">
        <div class="top">
           <h1>Generate QR Code</h1>
          <img src="img/qrCodeGenerator.png">
          <div class="catagory">
          <div id="string" class="ctg">Text</div>
          <div id="url" class="ctg">URL</div>
          </div>
        </div>
        <form method="post" id="in_con" autocomplete="off">
         <textarea required="" id="text" name="text" placeholder="Enter Text"></textarea>
         <div id="advance">
         <div><input id="checkbox" type="checkbox"> Advance Option</div>
         <div id="option">
           <div><!-- Choose Color <input type="color" id="colourPicker"> --></div>
           <div><p>Choose Color <input type="color" id="colourPicker"></p>
             <p>Import Your Logo</p><input type="file" id="file"><p id="warning"></p><p id="res"></p>
  
          <span class="status"></span>
             </div>
         </div>
         </div>
        <button type="submit" id="generate">Generate</button>
        </form>
        <div id="preLoader"><img src="img/preLoader.gif"></div>
        <div id="output">
          <img id="qr" src="">
          <div>
          <button id="download">Download</button></div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="Js/qrGenProcess.js"></script>
    <script type="text/javascript" src="Js/uploadFile.js"></script>
  </body>
</html>