*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: rgba(0,0,0,0.75);
}
body{
  /* background: rgb(22, 27, 46,255); */
  user-select: none;
  background: #BFCFF7 !important;
	color: black;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('img/preLoader.gif') center no-repeat #fff;
}
/*
#header_container::before {
  content: "";

  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  background: #D9EEE1 !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
} */
body::before{
	content: "";
	background:repeating-conic-gradient(#5699bb 40%,#45657b 70%);
	width: 100%;
	height: 400px;
	position: absolute;
	z-index: -2;
	top: 0;
	left: 0;
}

#welcome_text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 271px;
	font-size: 1.5rem;
	position: relative;
	z-index: -2;
}
#welcome_text > div:nth-of-type(3){

  font-size: 22px;
  color: #e9f2fb;
  text-align: center;
  margin: 5px 15px;
}
#welcome_text > div:nth-of-type(2){
	
  font-size: 2rem;
  font-weight: bold;
  margin: 15px;
  color: #293f97;
}

/*same things goes here*/

.section_name{
	font-size: 1.6rem;
	font-weight: bold;
	display: block;
	/*! position: relative; */
	/*! left: -30%; */
	/*! z-index: -1; */
	color: #059862;
	text-align: center;
	margin-bottom: 10px;
}

#tools_container{

	padding: 30px 50px;
	width: 90%;
	margin: 0 auto;
	background: #bcd8e3;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*! z-index: -2; */
	/*! position: relative; */
	flex-wrap: wrap;
}
.tool_box{
	/*! display: flex; */
	margin-top: 40px;
	flex-direction: column;
}

.tools{
 display: flex;

}
.tools{

	/*! display: flex; */
	/*! flex-wrap: wrap; */
	/*! justify-content: center; */
}
.tool{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	width: 240px;
	transition: 0.5s;
}
.tool:hover{
	box-shadow: 5px 5px 10px rgba(0,0,0,0.08),-5px -5px 10px rgba(0,0,0,0.08);
	animation:tool 1s ease-in;
}
@keyframes tool{
	0%{transform: rotateY(30deg);
	}
}
.tool:hover h1{
	color: #276fdf;
}

.tool img{

	width: 70px;
	height: 70px;
	margin: 18px;
}
.tool h1{

	font-size: 1.2rem;
	text-align: center;
}


@media(max-width:1200px){
	#tools_container{
		width: 100%;
	}
}
@media(max-width:1070px){
	#tools_container{
		width: 100%;
		justify-content: center;
	}
}

@media(max-width:600px){
	#tools_container{
		width: 100%;
		padding: 0
	}
	.tool{
		width: 210px;
	}
}
@media(max-width:450px){
	#tools_container{
		width: 100%;
		justify-content: center;
	}
	.tool img {
  width: 50px;
  height: 50px;
  margin: 15px;
}
	.tool h1 {
  font-size: 1rem;
}
	.section_name{
		font-size: 1.4rem;
	}
	.tool{
		width: 170px;
		padding: 10px;
	}
	#welcome_text > div:nth-of-type(3){
		font-size: 18px;
		text-align: center;
	}
}

@media(max-width:330px){
	.tool{
		width: 150px;
	}
}
@media(max-width:290px){
	.tools{
		flex-wrap: wrap;
		display: flex;
		justify-content: center;
	}
		.tool{
		width: 170px;
	}
}
